.vue-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    width: 100%;

    &__clamp {
        display: -webkit-box;
        -webkit-line-clamp: var(--lines);
        -webkit-box-orient: vertical;
        white-space: initial;
    }

    &__no-ellipsis {
        display: block;
        white-space: unset;
        text-overflow: unset;
    }
}
